@import '../../assets/css/mixin.scss';
@import '../../assets/css/variable.scss';
.systemName{
    @include font_color($font-color-theme2);
    @include font-dpr($font40);
    padding-top:40px;
    padding-bottom:10px;
}
.InvitationName{
    @include font_color($font-color-theme11);
    @include font-dpr($font30);
}
.formBox{
    width: 98%;
    margin: 0 auto;
    padding-top:100px;
    .li{
        display:flex;
        border: 1px solid #efefef;
        border-radius:10px;
        margin-bottom:20px;
        height:88px;
        justify-content: space-between;
    }
    .liBox{
        display:flex;
        .code{
            margin-left:10px;
            border: 1px solid #efefef;
            border-radius:10px;
            height:88px;
            @include font_color($font-color-theme11);
            @include font-dpr($font30);
            line-height:88px;
            flex-grow:1;
            text-align:center;
        }
    }
    .imgBox{
        width:66px;
        position:relative;
    }
    .IconImg{
           width:36px;
           height:36px;
           position:absolute;
           top:0;
           left:0;
           right:0;
           bottom:0;
           margin:auto;
        
       }
    Input::placeholder{
        color:#dbdbdb;
        @include font-dpr($font36);
    }
    Input{
        @include font_color($font-color-theme2);
        @include font-dpr($font36);
        height:88px;
        flex-grow:1;

        
    }
    .at-input{
        height: 88px;
        padding: 0;
        margin: 0;
        Input::placeholder{
            color:#dbdbdb;
            @include font-dpr($font30);
        }
        Input{
            height: 88px !important;
        padding: 0;
        margin: 0;
        line-height: normal;
        @include font_color($font-color-theme2);
        @include font-dpr($font30);
        height:88px;
        flex-grow:1;
        border:none;
        background:none;
        }
    }
}
.xieYi{
    display:flex;
    padding:20px 0;
    Image{
        width:30px;
        height:30px;
        margin-right:20px;
    }
    Text{
        @include font_color($font-color-theme2);
        @include font-dpr($font36);
    }
}
.btn{
    display:block;
    width: 98%;
    margin: 0 auto;
    height:88px;
    // color:#949494;
    @include font-dpr($font36);
    // background:#cccccc;
    border-radius:10px;
    margin-top:40px;
    text-align:center;
    line-height:88px;
}
.btnBg{
    background-color: $background-color-theme;
    color: #ffffff;
}
.goToBtn{
    @include font_color($font-color-theme);
    @include font-dpr($font36);
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 1px solid $font-color-theme;
}
.goToBtnBox{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    
}
.registerBtn{
    // border: 1px solid $background-color-theme1;
    color: #ffffff;
    font-size: 26px;
    width: 230px;
    // padding: 30px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    border-radius: 8px;
    margin: 0 auto;
    // margin-top: 60px;
    background: $background-color-theme1;

}
.tipsText {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    .tipsSpan{
        color: #5B5B5B;
        font-size: 24px;
    }
    .tipsSpan2 {
      color: #FFB400;
      font-size: 24px;
      text-decoration: underline;
    }
    
}