
@import '../../assets/css/mixin.scss';
@import '../../assets/css/variable.scss';
.addPassenger{
    padding-top: 100px;
}
// 联系人信息
.contactsMsg{
    width: 94%;
    margin: 0 auto;
    box-shadow:1px 2px 24px 0px rgba(155,150,143,0.15);
    border-radius:12px;
    margin-bottom: 18px;
    @include bg_color($background-color-theme0);
    .ulBox{
        width: 100%;
        .liBox{
            display: flex;
            height: 100px;
            border-bottom: 1px solid $border-Color1;
            .leftText{
                width: 34%;
                @include font-dpr($font30);
                @include font_color($font-color-theme2); 
                line-height: 100px;
                display: flex;
            }
            Input{
                @include font-dpr($font26);
                @include font_color($font-color-theme2); 
                flex-grow: 1;
                height: 98px;
            }
            Input::placeholder{
                @include font_color($font26); 
            }
        }
        .liBox:last-child{
            border:none;
        }
    }
}
.btnSure{
    box-shadow:-1px 4px 20px 0px rgba(255,163,2,0.39);
    @include font_color($font-color-theme5);
    @include font-dpr($font30);
    position: absolute;
    width: 90%;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 100px;
    text-align: center;
    border-radius:50px;
    @include btn_yellow()
}