
@import '../../assets/css/mixin.scss';
@import '../../assets/css/variable.scss';
.passContent{
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    .passSearch{
      width: 96%;
      margin: 0 auto;
      height: 80px;
      @include bg_color($background-color-theme7);
      border-radius:10px;
      display: flex;
      .btnSearch{
        display: block;
        width:156px;
        height: 80px;
        border:none;
        background: none;
        text-align: center;
        line-height: 80px;
        @include font-dpr($font28);
        @include font_color($font-color-theme5);
        @include btn_yellow();
        border-radius:10px;
      }
      Input{
              @include font-dpr($font26);
              @include font_color($font-color-theme2); 
              flex-grow: 1;
              border:none;
              background: none;
              padding-left: 10px;
              height: 78px;
          }
          Input::placeholder{
              @include font_color($font26); 
              
          }
    }
  }
  .ulBox{
    width: 96%;
    margin: 0 auto;
    padding-bottom: 140px;
    padding-top: 20px;
    .liBox{
        width: 100%;
        margin-bottom: 20px;
        
        .msgBox{
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
        }
        .leftImg{
            width: 8%;
            Image{
                width: 36px;
                height: 36px;
                margin: 0 auto;
            }
        }
        .midText{
            flex-grow: 1;
            .itemName{
                @include font-dpr($font30);
                @include font_color($font-color-theme2);
                padding-bottom: 24px;
            }
            .itemCard{
                @include font-dpr($font26);
                @include font_color($font-color-theme4);
            }
        }
        .editImg{
            position: relative;
            width: 8%;
            Image{
                width: 28px;
                height: 28px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding:20px 0;
    display: flex;
    justify-content: space-around;
    box-shadow:2px -5px 20px 0px rgba(188,188,188,0.26);
    @include bg_color($background-color-theme0);
    z-index: 100;
    .numSelect{
        @include font-dpr($font24);
        @include font_color($font-color-theme2);
        line-height: 80px;
    }
    .sureSelect{
        box-shadow:-1px 4px 20px 0px rgba(255,163,2,0.39);
        @include font_color($font-color-theme5);
        @include font-dpr($font30);
        width: 438px;
        line-height: 80px;
        text-align: center;
        border-radius:40px;
        @include btn_yellow()
    }
}
.addImg{
    position: fixed;
    bottom: 14%;
    right: 3%;
    width: 100px;
    height: 100px;
    z-index: 130;
}